<html>
    <head>
        <title>{{ profile.username }}</title> 
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <body>
        <div class="dropdown-container">
            <img src="../static/img/logo.png" class="logo">
            <a href="/">
                <button>Home</button>
            </a>
        </div>
        
        <div class="profile-container">
            <img class="profile-picture" src={{profile.ppd}}> </img>

            <h2 class="profile-username"> {{ profile.username }} </h2>
            <h3 class="profile-spotify-username"> {{ profile.spotify_username }} </h3>

            <div class="profile-content">
                <b>Followers:</b> {{ profile.followers }} <br>
                <b>Following:</b> {{ profile.following }} <br>

                <div class='status-container'>
                    <div class="status-content-container">
                        <b class='status-label'>Current Status: </b> 
                        <p class='status-content'> {{ profile.status }} </p>
                        <button class="btn status-update" onclick='$(".status-input-container").toggle(500);'>Update Status</button>
                    </div>

                    <div class="status-input-container">
                        <input  class="form-input status-input" maxLength=32 placeholder="Status" type="text">
                        <button class="btn btn-primary status-submit" onclick="statusHandler();">Confirm</button>
                    </div>
                </div>
                    

                <div style="margin-top: 50px;">
                    <b class="playlists-label">Playlists:</b> <br>

                    <div class="playlists-container">
                        <ul class="playlist-list"></ul>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="../static/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../static/js/api.js"></script>
        <script type="text/javascript">
            $(function () {
                displayMyPlaylists();
            });
        </script>


    </body>
</html>